.slides > li > p{
	width: 100%;
	margin-top: -100px;
	text-align: center;
}
.slides > li >span{
	width: 100%;
	margin-top: -30px;
	margin-left: 50%;
	font-weight: 500;
}
.flexslideI{margin:0 ! important;padding:0 ! important;list-style-type:none ! important; }
	a,img{border:0 ! important;}
	/* flexslider */
	.flexslider{position:relative;height:400px;overflow:hidden;background:url(../Images/loading.gif) 50% no-repeat;}
	.slides{position:relative;z-index:1;}
	.slides li{height:400px;}
	.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
	.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
	.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../Images/dot.png) right 0 no-repeat;cursor:pointer;}
	.flex-control-nav .flex-active{background-position:0 0;}

	.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
	.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
	.flex-direction-nav li a.flex-prev{left:40px;background:url(../Images/prev.png) center center no-repeat;}
	.flex-direction-nav li a.flex-next{right:40px;background:url(../Images/next.png) center center no-repeat;}


/* 轮播 */
	
	